@model BIBLIOTECATEC.Models.Bibliotecaa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Bibliotecaa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.imagenFile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagenFile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idBiblioteca }) |
    @Html.ActionLink("Back to List", "Index")
</p>
