@model BIBLIOTECATEC.Models.Personal

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Personal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidoM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidoM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.constraseña)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.constraseña)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.rango)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rango)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estatus)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idPersonal }) |
    @Html.ActionLink("Back to List", "Index")
</p>
